[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = v4.8.3
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils

# [submodule "Diamond-Foundry"]
# 	path = Diamond-Foundry
# 	url = https://github.com/FydeTreasury/Diamond-Foundry

# [submodule "diamond-3-hardhat"]
# 	path = diamond-3-hardhat
# 	url = https://github.com/mudgen/diamond-3-hardhat

# [submodule "diamond-3-hardhat-penis"]
# 	path = diamond-3-penis
# 	url = https://github.com/mudgen/diamond-3-hardhat
[submodule "lib/gmx-contracts"]
	path = lib/gmx-contracts
	url = https://github.com/gmx-io/gmx-contracts
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
